nav {
    background-color: darkslateblue;
    margin: 0;
    padding: 0;
}

nav>ul {
    /* nav er immidiate child bujhay. mane nav er     prothom baccha*/

    display: flex;
}

nav li {
    list-style: none;
    margin: 10px;
    margin-left: 20px;
}

nav li:hover {
    background-color: cornflowerblue;
    border-radius: 5px;
}

nav li a {
    font-size: 20px;
    color: aliceblue;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: cornflowerblue;
    padding: 0;
}

.dropdown li {
    margin-left: 60px;
    margin-right: 60px;
}

.dropdown a:hover {
    background-color: lightblue;
    margin: 0;
}

nav>ul>li:hover>ul {
    /*nav er 1st child(ul)er 1st child(li)er 1st child(ul)ke hover korar jonno nav er 1st child er 1st child(li)er upor mouse nite hobe*/
    display: block;
}

p {
    color: rgb(128, 123, 123);
}

a {
    text-decoration: none;
    font-weight: 1000;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.app_training {
    display: flex;

}

.logo_link {
    margin: .1%;
}

h3 {
    color: blue;
}

.certificate_section {
    display: flex;
}

.certificate_item {
    margin: 2px;
    box-shadow: 10px 20px 20px gray;
    margin: 20px;
    padding: 10px;
    width: 30%;
    border-radius: 5px;
}

.title {
    text-align: center;
}

.basic {
    background-color: beige;
    margin: 20px;
    padding: 15px;
    border-radius: 5px;
}

.experience_section {
    margin: 20px;
}

.exp_title {
    font-weight: 600;
    font-size: 30px;
}

.btn {
    background: gray;
    border-radius: 5px;
    border: 1px;
    margin-left: 500px;
    margin-top: 10px;
    margin-bottom: 50px;
    padding: 5px;
    cursor: pointer;
    font-weight: 400;
}

.btn2 {
    background: green;
    cursor: pointer;
    text-align: center;
    padding-left: 50%;
    padding-right: 50%;
    margin: 0;
    border: 0px;
    border-radius: 5px;
    color: aliceblue;
    font-weight: 700;
    width: 100%;
}

.btn2:hover {
    background-color: greenyellow;
}

.name {
    display: flex;
    border-color: gray;

}

.sbmt {
    cursor: pointer;
    background-image: linear-gradient(red, salmon);
    color: aliceblue;
    border: 0;
    border-radius: 2px;
    width: 100%;
    padding: 10px;
    margin-top: 50px;
    font-size: large;
}

.sbmt:hover {
    background-image: linear-gradient(red, orange);
}

.ftr {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
}

.lst {

    display: flex;
}

.ft {
    background-color: black;
    margin-top: 100px;

}

.block a {
    display: block;
}

.inline {
    display: flex;
}

.inline a {
    margin: 2px;
}

.inline img {
    height: 20px;
    border-radius: 2px;
}

.name div {
    display: flex;
    margin-bottom: 10px;

    width: 20%;

}

.inputFN {
    width: 35px;
}